/*Final file*/

body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 20px 0;
	background-color:mintcream;
}
.content{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding:0;
	display: flex;
	justify-content: center;
}
.pageTitle {
	display:flex;
	margin:50px auto;
	justify-content:center;
}
.menu-container {
	display: flex;
	flex-direction: row;
	margin:20px auto;
	justify-content: center;
}
.nav-bg {
	display: flex;
	max-width: 1200px;
	flex-direction: column;
	flex: 1;
}
.nav-bg ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex: 1;
}
.link, ul {
	list-style-type: none;
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 20px;
}
ul {
	display: flex;
	justify-content: center;
	align-self: center;
	margin: 0;
}
h2{
	margin:0 20px;
}
li a.link {
	font-weight: bold;
	padding: 20px 40px;
	transition: color ease-in-out 0.2s;
}
li a.link:hover {
	color: #deb887;
}
/**/
.hero-section {
	background: url('assets/hackerman_background.png');
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 1000px;
	display: flex;
	width: auto;
	max-width: 1200px;
}
.hero-text, .hero-image {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}
.hero-text {
	padding: 80px;
	flex-direction: column;
}
.hero-text p{
	line-height:2rem;
}
h2 {
	margin: 0;
}
.hero-text p, .hero-text h2, .hero-text a {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-content: flex-end;
}

.link-content {
	padding: 20px 40px;
	background-color: #deb887;
	display: flex;
	max-width: 300px !important;
	justify-content: flex-end;
	align-self: flex-end;
	border-radius: 10px;
	text-decoration: none;
	color: black;
	text-align: center;
	transition:color ease-in-out 0.1s;
	transition:background-color ease-in 0.2s;
}
.link-content:hover {
	color:white;	
	background-color:#dea555;	
}
